.u-scroll-y {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: none;
}

.u-scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.u-scrollbar-hidden::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    height: 0 !important;
    appearance: none;
    background: transparent;
}
